@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap'); */

body{
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    margin: auto;
    max-width:60%
}

:root{
    --primary-color :#FBBF24;
    --dark-grey:#6B7280;
    --off-white:#E5E7EB;
    --dark-red: rgb(49,8,8);
}

/* container */
.container {
    padding-left: 1rem;
    padding-right:1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
    padding-bottom : 1rem;
}

hr{
    margin:2rem 0rem;
}

/* links */
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 1px solid var(--primary-color);
}
.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: black;
    
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

/* lists */
.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
}

/* navigation */
.navigation {
    background-color: var(--primary-color);
    color: black;
    padding:1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.navigation .link{
   color: black; 
}

.navigation .link:hover {
    font-weight: bold;
    color: black;
    transition: 0.5s;
}

.navigation .nav-pills {
    padding: 0rem 2rem;
    text-align: right;
}

.navigation .nav-brand{
    font-weight: bold;
    font-size: 20px;
}

.navigation .link-active{
    font-weight: bold;
}

/* header */

.hero .hero-img {
    max-width: 40%;
    display:block;
    margin:auto;
    margin-top: 5%;
}

.hero .hero-heading {
    font-size: 2rem;
    color: var(--dark-grey);
    text-align: center;
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

/* section */
.section {
    border-radius: 1rem;
    padding-top:1rem;
}
.section h3 {
     text-align:center;
     font-weight: bold;
}

.blog-paragraph, .css-selector-main-type {
    text-align: left;
    margin: 0.5rem;
}
.css-selector-sub-type {
    margin-bottom: 0.5rem;
}

.eg-highlight {
    color: var(--primary-color);
    font-weight: bold;
}


.ow {
    background-color: var(--off-white);
    margin-top: 0rem;
}

.section .link-primary:hover {
    border: 1px solid var(--primary-color) ;
    background-color: white;
    color: var(--primary-color);
    
}

.section .link-secondary:hover {
    border: 1px solid var(--primary-color) ;
    background-color: var(--primary-color);
    color: var(--dark-red);
    
}

/* footer */
footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: black;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    margin-top: 1rem;
   
}

footer .link {
    color: black;
}

footer ul {
    padding-inline-start: 0px;

}

footer .footer-header {
    font-weight: bold;
}

footer .link:hover {
    color: black;
    transition: 0.5s;
    font-weight: bold;
}